# Git files
.git
.gitignore
.gitkeep

# Dependencies
/vendor
/node_modules

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
storage
tmp
.cache
.idea
.vscode

# Docker-specific
docker-compose.override.yml
