$bg-color: #000000 !default;
$text-color: #ffffff !default;
$table-bg: rgb(15, 11, 11) !default;
$table-border: #110909 !default;
$table-header-bg: #333 !default;
$font-stack: "FontinSmallCaps", Verdana, Arial, Helvetica, sans-serif !default;
$chaos-orb: "/images/chaosOrb.png" !default;
$secondary-color: #d4b16a;